- each post in posts
  article.post
    header.post-title
      h1
        a(href="#{router.post_path(post.id)}", title="#{post.title}", data-id="#{post.id}")= post.title
    div.post-content
      != post.content
    footer.post-footer
      p
        strong Posted on:&nbsp;
        = post.created_at
        &nbsp;/&nbsp;
        strong= post.comments.length + '&nbsp;'
        - if(post.comments.length === 1)
          = 'Comment'
        - else
          = 'Comments'