!!!5
:plain
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title Jader by Example
  = stylesheet_link_tag "application"
  = csrf_meta_tags
%body.row
  %div#main.twelve.columns.centered
    %header#app-header
      %h1 Welcome to Jader Example
      %h3.subheader A simple Rails app to demonstrate the power of Jader and Spine.js
    %div#app-content
      %div#yield.active= yield
  = javascript_include_tag "application"
  :javascript
    $(document).ready(function(){
      new App({el:$('#main')});
    });